.about_company        
 
    &__speak
        position: relative
        padding: 25px
        font-family: $font-italic
        border: 1px solid $color-orange
        border-radius: 3px
        &__wrap
            padding-bottom: 20px
        &:after
            content: ''
            display: block
            position: absolute
            width: 50px
            height: 50px
            border-color: $color-orange
            border-width: 0 0 0 1px
            transform: rotate(-60deg)
            border-radius: 50%/100px 100px 0 0
            right: 0
            bottom: -40px
            border-style: solid
            z-index: 5
    &__director
        &__wrap
            flex: 0 0 30%
            padding-top: 20px
            max-width: 30%
        &__text
            position: absolute
            left: 15px
            bottom: 0
        &__name
            font-family: $font-light
            padding-top: 40px
            padding-bottom: 5px
            font-size: 33px
            letter-spacing: .1px
    &__job_name
        color: #b4b4b4
        font-size: 20px
        letter-spacing: .1px
    &__vertical_list__wrap
        padding-left: 40px
        padding-bottom: 40px
        .vertical_list__item
            font-size: 18px
            letter-spacing: .1px

.about_company__map
    position: relative
    height: 400px


@media only screen and (max-width : 1200px) and (min-width : 992px)
    .about_company        
        &__director
            &__wrap
                padding-top: 100px

@media only screen and (max-width : 992px)
    .about_company__director__text
        width: 400px
        left: auto
        right: 0
        top: 40%
    .about_company__speak
         &:after
             left: 20px

@media only screen and (max-width : 772px)
    .about_company        
        &__director
            &__text
                position: relative
                left: auto
                bottom: auto
                display: block
                top: auto

@media only screen and (max-width : 576px)
    .about_company        
        &__director
            &__text
                padding-left: 15px

@media only screen and (max-width : 772px)
    .about_company__director__text
        width: 300px