.article
    p
        padding-top: 13px
        line-height: 1.7
    &__img
        display: block
        float: right
        -webkit-box-flex: 0
        -ms-flex: 0 0 50%
        flex: 0 0 50%
        max-width: 50%
        position: relative;
        width: 100%
        min-height: 1px
        padding-left: 20px
        padding-top: 10px
    &__title
        font-size: 20px
        letter-spacing: .1px
        padding-top: 0
        margin-top: 0
        padding-bottom: 0px
    .article__title 
        padding-top: 0
    
    &__date
        letter-spacing: .3px
        line-height: 1.5
        margin-bottom: 0
        font-family: $font-light
        padding-top: 0
        padding-bottom: 25px
        color: #b3b3b3
        font-size: 20px
        &:after
            content: ""
            display: block
            width: 60px
            height: 1px
            border-bottom: 1px solid #b3b3b3
            margin-top: 15px
            position: absolute

@media only screen and (max-width : 768px)
    .article
        &__img
            flex: 0 0 100%
            max-width: 100%
            padding-left: 0
            padding-right: 0

