.breadcrumb
    background-color: inherit
    padding-left: 0px
    margin-bottom: 0
    padding: 0
    padding-top: 30px
    ol
        padding-left: 0px
        margin: 0
        list-style: none
    &__item::after
        display: inline-block
        content: ""
        height: 10px
        width: 20px
        margin-left: 8px
        margin-bottom: -2px
        background-image: url(../img/arrow-right.png)
        fill: #cacaca
        stroke: #cacaca
    &__item
        padding-right: 14px
        display: inline-block
        font-size: 12px
        font-weight: 300
        
        a
            text-decoration: underline
            letter-spacing: .1px
            
            color: #cacaca
            &:active, &:hover
                color: #424242