.button
	display: inline-block
	position: relative
	font-family: $font-medium
	font-size: 14px
	line-height: 1.15em
	padding: 16px 30px 16px 35px
	border: 2px solid #ffcc00
	border-radius: 3px
	text-align: left
	color: #333
	letter-spacing: .1px
	user-select: none
	box-shadow: none
	transition:All 1.0023s ease-in-out
	&.wide
		padding: 20px 35px 20px 35px
		font-size: 18px
		max-width: 100%
		
	&:after
		content: ""
		display: inline-block
		margin-left: 30px
		width: 8px;
		height: 8px;
		border: 1px solid;
		border-color: #bababa transparent transparent #bababa
		transform: rotate(135deg)
	&.right
		text-align: right
    
.btn
	transition: .3s ease
	cursor: pointer

	&:focus, &:active
		text-decoration: none
		box-shadow: none
		outline: none
	&:hover
		background-color: #ffcc00
		&:after
			border-color: #ffffff transparent transparent #ffffff

@media only screen and (max-width : 1200px)
	.button.wide
		padding: 16px 30px 18px 15px
		

@media only screen and (max-width : 480px)
	.button
		text-align: center