.carousel
	&__container
		margin-top: -70px
		background-color: #333333
		padding: 100px 0 30px 0
		position: relative
		&:before
			z-index: 2
			content: ''
			display: block
			position: absolute
			width: 10%
			height: 100%
			top: 0
			background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(0,0,0,0) 100%)
		&:after
			z-index: 2			
			content: ''
			display: block
			position: absolute
			width: 10%
			height: 100%
			right: 0
			top: 0
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(51,51,51,1) 100%)
	
	&__item
		display: flex
		transition: 0.3s ease all
		margin: 0 20px
		transform: scale(0.8)
		border: 1px solid #4d4d4d
		border-radius: 5px
		padding: 18px 25px
		&:hover
			border-color: #ffcc00
			
		.active &
			opacity: 1
			transform: scale(1)
			z-index: 4
			&:hover
				.carousel__arrow_right
					background-image: url(../img/carousel_arrow_right_active.png)
			.carousel__arrow_right
				display: block
				width: 30px
				height: 30px
				position: absolute
				right: 0
				top: 50%
				margin-top: -15px
				margin-right: -15px
				background-image: url(../img/carousel_arrow_right.png)
				z-index: 4

	&__img__wrap
		
		width: 100px
		display: inline-block
		margin-top: 5px
		margin-right: 40px
		margin-left: 15px
	&__body
		padding-top: 10px
		max-width: 500px
	&__img
		width: 100px
		height: 100px
	&__title
		font-size: 20px
		letter-spacing: .1px
		
		color: #ffffff
	&__text
		letter-spacing: .1px
		padding-top: 10px
		line-height: 1.6
		font-size: 14px
		color: #cccccc

.owl-carousel .owl-item img.carousel__img
	width: 100px

.owl-carousel 
	.owl-dots
		display: flex
		justify-content: center
		margin-top: 33px
		button.owl-dot:last-child
			margin-right: 0
		button.owl-dot
			width: 10px
			height: 10px
			background-color: #1a1a1a
			margin-right: 17px
			border-radius: 50%
			&.active
				background-color: #ffcc00
			&:active,&:focus
				outline: none

	
.owl-item
	-webkit-backface-visibility: hidden
	-webkit-transform: translateZ(0) scale(1, 1)

@media (max-width: 1000px)
	.carousel__item
		margin: 0
		transform: scale(0.9)

@media only screen and (max-width : 500px)
	.carousel__item
		display: flex
		flex-direction: column
	.carousel__container
		&:before, &:after
			display: none