.cards
    &:after
        content: ""
        display: block
        width: 100%
        height: 100%
.card
    z-index: 3
    border-radius: 3px
    padding: 0px 0px 30px 0px
    margin-bottom: 35px
    border: none
    box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75)

    .card-title
        font-size: 20px
        margin-bottom: 0
        text-align: left
        padding-top: 17px
    .card-subtitle
        padding-top: 15px
        padding-bottom: 20px
        font-size: 14px
        line-height: 1.6
        color: #4d4d4d
    .card-img
        display: block
        object-fit: cover
    .card-body
        padding: 15px 40px 0px 40px      
    .button
        font-size: 14px

    &.horizontal
        flex-direction: row
        padding: 20px 40px
        align-items: center
        .card-img
            margin: 0 auto



@media only screen and (max-width: 1200px)
    .card
        .card-body
            padding-left: 20px
            padding-right: 20px


@media only screen and (max-width: 992px) and (min-width: 768px)
    .card.last
        flex-direction: row
        padding: 20px 40px
        align-items: center
        box-shadow: 0px 3px 30px -9px rgba(0,0,0,0.75)
        
        .card-img
            margin: 0 auto
            width: 40%
            
    
@media only screen and (max-width : 768px)
    .card
        &.horizontal
            padding: 40px 10px 40px 10px
            flex-direction: column
            .button__wrapper
                text-align: center
            .card-img
                margin: 40px auto
