.contacts
    align-self: stretch
    color: white
    width: 100%
    *
        z-index: 2

    &__overlay
        height: 100%
        width: 45%
        position: absolute
        background-color: #333333
        opacity: 0.9
        top: 0
        left: 0
        z-index: 1
    &__element
        padding-bottom: 20px
    &__company_name
        padding-top: 0px
        font-size: 24px
        padding-bottom: 2px
    &__map
        display: block
        width: 100%
        height: 100%
    &__depart_name
        font-size: 16px
        letter-spacing: .1px
    &__phone
        font-size: 19px
        letter-spacing: .1px
        padding-bottom: 0
    &__email
        font-size: 14px
        letter-spacing: 0.2px
        &__link
            color: #ffffff
            text-decoration: underline

@media only screen and (max-width : 768px)
    .contacts
        &__overlay
            width: 100%
        #map
            position: relative
            height: 400px
            z-index: 3