.costs
    padding: 0px 40px 45px 30px
    .costs__price
        white-space: nowrap 
    &.bordered
        border-radius: 3px
        border: 1px solid #ddd
    &.wide
        padding: 45px 40px 45px 45px
        .costs__description
            font-family: $font-italic
            padding-bottom: 30px
        .costs__title
            font-size: 18px
            letter-spacing: 0.1px


        .costs__price
            color: $color-orange
            font-family: $font-light
            font-size: 77px
            line-height: 1
            padding-bottom: 28px
            display: inline-block
            
            &__name
                display: inline-block
                font-size: 24px
                padding-left: 25px
                letter-spacing: .6px
                font-family: $font-medium
                color: #424242
    &.narrow
        .costs__description
            font-family: $font-italic
            padding-bottom: 30px
        .costs__title
            font-size: 18px
            letter-spacing: 0.1px
            padding-bottom: 35px
            &:after
                content: ""
                display: block
                width: 60px
                height: 1px
                border-bottom: 1px solid #cccccc
                margin-top: 15px
                position: absolute
        .costs__price
            color: $color-orange
            font-family: $font-light
            font-size: 60px
            line-height: 2rem
            padding-bottom: 15px
        .cost__price__name
            display: inline
            font-size: 18px
            letter-spacing: .6px
            font-family: $font-medium
            color: #424242
            

@media only screen and (max-width : 1200px)
    .costs.wide
        .costs__price
            padding-bottom: 0
        .costs__price__name
            padding-left: 0
    .costs.narrow
        .costs__price
            font-size: 50px
        padding-right: 20px
        