.dash_bottom
    &:after
        content: ""
        display: block
        width: 60px
        height: 1px
        border-bottom: 1px solid #cccccc
        margin-top: 15px
        position: absolute