.doc_list__item
    display: flex
    flex-direction: row
    padding-bottom: 10px
    position: relative
    &:before
            content: ''
            position: absolute
            display: block
            width: 22px
            height: 25px
            background-size: cover
            background-image: url(../img/yellow_doc.png)

    p
        
        
        padding-left: 40px