.section_employees
    background: #333333
    color: #b4b4b4
    .subtitle
        color: #ffffff
.employee
    color: #fff
    padding-bottom: 20px
    letter-spacing: .7px
    line-height: 1.4
    text-align: center

    &__wrapper
        padding-top: 40px
        padding-bottom: 40px
    
    &__img
        border-radius: 50%
        display: block
        width: 100%
    &__title
        padding-top: 30px
        font-size: 18px
    &__subtitle
        font-size: 14px
    &__f_name, &__s_name
        line-height: 1.3
        display: block
    &__subtitle
        color: #b4b4b4
        
        