.footer
	white-space: nowrap
	width: 100%
	display: flex
	align-items: center
	background-color: $header-color
	padding: 10px 0 10px 0
	border-top: 1px solid #bbb
	.navbar
		padding-left: 0
		padding-right: 0

	.header_logo
		img
			width: 73px
			height: 60px
	.header_contact
        padding-top: 5px
        line-height: 1.1
	.header_phone
		span
			font-size: 23px
			float: right
			font-family: $font-medium
	.header_address
		font-size: 15px
		font-family: $font-medium
	.copyright
        display: flex
        font-size: 20px
        padding-left: 70px
        font-family: $font-medium
        white-space: nowrap

@media only screen and (max-width : 768px)
    .footer
        .header_contact
            order: 2
        .copyright
            display: block
            width: 100%
            order: 3
            padding-left: 0
            margin-top: 20px

@media only screen and (max-width : 768px)
	.footer
		.header_contact
		.copyright
			font-size: 13px
			margin-top: 10px
			