.header
	.dropdown.show
		.dropdown-toggle::after
			border: 1px solid black
			border: solid
			border-width: 0 1px 1px 0
			display: inline-block
			padding: 3px
			transform: rotate(-135deg)
			margin-bottom: -5px
			margin-left: 5px
	.dropdown
		.dropdown-toggle::after
			border: 1px solid black
			border: solid
			border-width: 0 1px 1px 0
			display: inline-block
			padding: 3px
			transform: rotate(45deg)
			margin-left: 5px
	white-space: nowrap
	width: 100%
	display: flex
	align-items: center
	background-color: $header-color
	padding: 8px 0 8px 0
	transition: 1s all ease
	&.underline
		border-bottom: 1px solid #cacaca
	.navbar
		padding-left: 0
		padding-right: 0
		.navbar-toggler
			margin-top: 0
			width: 60px
			height: 55px
			border-width: 3px
		.navbar-nav .nav-link
			color: #000000			
			&:hover,active,focus
				color: #777
	&_logo
		img
			width: 73px
			height: 60px
	&_contact
		padding-top: 5px
		text-align: right
		line-height: 1.2
		position: relative
		&:before
			content: ""
			display: inline-block
			background-image: url(../img/header_contacts.png)
			position: absolute
			width: 40px
			height: 40px
			margin-left: -55px
	&_phone
		span
			font-size: 20px
			letter-spacing: .1px
			float: right
			font-family: $font-medium
	&_address
		font-size: 14px
		letter-spacing: .2px
		font-family: $font-medium
	&_menu
		display: flex
		justify-content: space-between
		margin: 0 auto
		&_wrapper
			align-items: center
			display: flex
		&_element
			&.dropdown
				padding-right: 35px
			padding-right: 20px
			font-size: 18px
			font-family: $font-medium
			&_link
				color: #000000
				white-space: nowrap
				padding-bottom: 12px
				&:hover
					padding-bottom: 10px
					border-bottom: 2px solid #ffcc00
.navbar-expand-md .navbar-nav .nav-link
	padding-left: 0
	padding-right: 0
.header .navbar .navbar-nav .nav-link:hover, .header .navbar .navbar-nav .nav-link active, .header .navbar .navbar-nav .nav-link focus
	color: #000000


@media only screen and (max-width : 1200px)
	.header
		&_contact
			&:before
				display: none

@media only screen and (max-width : 992px)
	.header
		.navbar
			justify-content: space-between
			flex-flow: row wrap
		.header_menu
			text-align: center
		.navbar-brand
			order: 1
		.header_contact
			order: 2
		.navbar-toggler
			order: 3
		.navbar-collapse
			order: 4
			padding-left: 0
		.header_menu
			display: flex
			width: 100%
			margin: 0
			padding-left: 0
			.header_menu_element
				padding-right: 0
			.header_menu_element_link
				padding-top: 10px
		
@media only screen and (max-width : 768px)
	.header
		.header_menu
			text-align: center
		.navbar-brand
			order: 1
		.header_contact
			order: 2
		.navbar-toggler
			order: 3
			margin-top: 15px
		.navbar-collapse
			order: 4
			padding-left: 40px