.horizontal_list        
    padding-left: 0
    font-size: 18px
    letter-spacing: .1px
    padding-top: 0px
    padding-bottom: 70px
    line-height: 3.3
    .horizontal_list__item
        border-bottom: 1px solid #000
        padding-bottom: 3px
        display: inline
        line-height: 1
        flex: 1
        padding-right: 32px
        margin-right: 0
        margin-left: 0
        &.active
            a
                padding-bottom: 5px
                border-bottom: 3px solid #ffcc00
                
        &:last-child
            padding-right: 0
        
        white-space: nowrap
        a
            &:hover
                padding-bottom: 5px
                border-bottom: 3px solid #ffcc00