.horizontal_card
    display: flex
    width: 100%
    background-color: #fff
    border-radius: 3px
    box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.75)
    &__img
        padding-right: 0
        img
            width: 100%
            max-width: 100%
        
    .subtitle
        padding-bottom: 15px
    .col-md-12, .col-lg-6
        padding-left: 0
        padding-right: 15px
    .horizontal_card__text
        padding: 45px
        .vertical_list
            padding-left: 40px

@media only screen and (max-width : 1200px)
    .horizontal_card
        flex-wrap: wrap
        .subtitle
            padding-bottom: 10px
        .horizontal_card__text
            padding: 12px
        &__img
            img
                max-width: 100%
                width: 100%
@media only screen and (max-width : 992px)
    .horizontal_card
        flex: 0 0 80%
        max-width: 80%
        margin: 0 auto
        .col-md-12, .col-lg-6
            padding-right: 0
        .subtitle
            padding-bottom: 10px
        .horizontal_card__text
            .subtitle
                text-align: center
            padding: 30px 50px 50px 50px
        &__img
            img
                max-width: 100%
@media only screen and (max-width : 768px)
    .horizontal_card
        flex: 0 0 100%
        max-width: 100%
        .subtitle
            padding-bottom: 10px
        .horizontal_card__text
            .subtitle
                text-align: center
            padding: 30px
        &__img
            img
                max-width: 100%

@media only screen and (max-width : 480px)
    .horizontal_card
        .horizontal_card__text
            padding: 30px
            .vertical_list
                padding-left: 30px