.info_card
    border: 1px solid #cccccc
    padding: 25px 40px
    margin-bottom: 30px
    &__title
        font-size: 20px
        letter-spacing: 0.3px
        line-height: 1.5
        padding-bottom: 40px
    &__text
        font-size: 14px
        letter-spacing: .3px
        color: #333333