.mission__bg_gray__right
    height: 100%
    width: 50%
    position: absolute
    background-color: #F2F2F2
    opacity: 0.9
    top: 0
    right: 0
    z-index: 0

.mission
    position: relative
    &__wrap
        align-items: center
        padding: 70px 40px
    &__img
        display: block
        max-width: 200px
        width: 100%
        
    
    &__header
        font-size: 30px
        line-height: 1.3
        padding: 0 25px
        padding-bottom: 20px
        
        display: flex
        flex-direction: column
    &__text
        font-size: 18px
        padding: 0 25px
        padding-right: 0px
        letter-spacing: 0.1px

@media only screen and (max-width : 1200px)
    .mission
        &__img

@media only screen and (max-width : 992px)
    .mission__bg_gray__right
        width: 100%
        height: 50%
        top: auto
        bottom: 0
    .mission
        &__wrap
            padding: 50px 20px
            justify-content: center

@media only screen and (max-width : 576px)
     .mission
        &__img
            margin: 0 auto
        &__header, &__text
            text-align: center
        &__header
            padding-top: 20px
            
    