.news_item
    border-radius: 8px
    margin-bottom: 35px
    &:hover
        transition: .1s ease
        box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.75)
        .news_item__header
            overflow: hidden
            &__img
                transition: .1s ease-out
                transform: scale(1.1)
        .news_item__body
            &__text
                &:before
                    border-bottom: 1px solid #ffcc00
                    
        
    &__header
        font-size: 20px
        font-family: $font-light

        &__img
            width: 100%
            display: block
    .button
        font-size: 14px
        padding-right: 20px
        padding-left: 20px
        letter-spacing: .7px
        color: #fff
        flex: none
    .news_item__body
        padding: 15px
        
        padding-top: 10px
        &__date, &__text
            font-family: $font-medium
            font-size: 14px
            letter-spacing: .3px
            line-height: 1.5
            padding-top: 5px
            margin-bottom: 0
        &__text
            padding-top: 15px
            font-size: 16px
            &:before
                content: ""
                display: block
                width: 60px
                height: 1px
                border-bottom: 1px solid $color-gray
                margin-top: -15px
                position: absolute
        &__date
            font-family: $font-light
            padding-top: 10px
            color: #b3b3b3
            font-size: 20px
            
