.pagination__wrap
    flex: 0 0 100%
    padding-top: 0px
    padding-bottom: 20px
    display: flex
    justify-content: flex-end
.pagination
    &__arrow
        border: 1px solid black
        border: solid
        border-width: 0 1px 1px 0
        display: inline-block
        padding: 10px 10px 10px 10px
        &__wrap
            &:hover
                .pagination__arrow
                    border-color: black
                    border-width: 0 1px 1px 0
        &_right
            transform: rotate(-45deg)
            margin-left: -20px
            margin-top: -1px

        &_left 
            transform: rotate(135deg)
            margin-right: -20px
            margin-top: -1px
            
    .page-item
        .page-link
            background-color: #fff
            color: $color-gray
            padding: 10px 16px
            border-radius: 3px
            border: none
            &:hover
                color: black
            
        &.active
            .page-link
                color: white
                background-color: $color-gray