
.popup
	background-color: rgba(200,200,200,0.7)
	.popup__container
		max-width: 400px
	.popup__content
		border: none
		box-shadow: 0px 1-px 58px -2px rgba(107,107,107,1)
	.popup__input
		caret-color: $color-orange
		z-index: 2
		text-align: center
		margin: 0 auto
		margin-bottom: 25px
		position: relative
		display: block
		border: none
		padding: 15px 0
		width: 235px
		border-bottom: solid 1px #9B9B9B
		will-change: background-position
		transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1)
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color-orange 96%)
		background-position: -1920px 0
		background-size: 100%
		background-repeat: no-repeat
		color: #333
		font-size: 14px
		font-weight: 400
		&.input-active, &:focus
			background-position: 0 0
			box-shadow: none
			border-bottom: solid 1px $color-orange
			outline: 0
			&::-webkit-input-placeholder 
				color: #fff
			&:-moz-placeholder
				color: #fff
			&::-moz-placeholder
				color: #fff
			&:-ms-input-placeholder   
				color: #fff
	.popup__close
		color: #000000
		outline: none
		opacity: 0.6
		&:hover
			color: #000000
			opacity: 1

	.popup__header
		border-color: $color-orange
		justify-content: center
		padding-top: 40px
		.subtitle
			color: #000000
			padding-bottom: 0
			font-size: 20px

	.popup__body
		padding-top: 35px
	.popup__policy
		font-size: 12px
		letter-spacing: .1px
		padding-bottom: 20px
		&__link
			text-decoration: underline
			display: inline
	.popup__input
		&::-webkit-input-placeholder 
			text-align: center
		&:-moz-placeholder
			text-align: center  
		&::-moz-placeholder
			text-align: center 
		&:-ms-input-placeholder   
			text-align: center 
	.button
		margin: 10px
			