.reply
    padding-bottom: 40px
    letter-spacing: .4px
    line-height: 1.4
    &:hover
        .reply__img
            border: 1px solid #ffcc00
            padding: 0
        .reply__subtitle
            &:before
                border-bottom: 1px solid #ffcc00
    
    &__img
        box-shadow: 0px 5px 30px -5px rgba(0,0,0,0.15)
        background: #eee
        width: 100%
        display: block
        padding: 1px
        max-width: 240px
        &__wrap
            width: 100%
    &__title
        padding-top: 25px
        font-size: 20px
        line-height: 1
        a
            padding-bottom: 1px

        a:hover,a:focus
            padding-bottom: 0
            border-bottom: 1px solid #000

    &__subtitle
        padding-top: 25px
        font-size: 15px
        &:before
            position: absolute
            content: ""
            display: block
            width: 60px
            height: 1px
            margin-top: -15px
            border-bottom: 1px solid #cacaca
            

@media only screen and (max-width: 500px)
    .reply
        text-align: center
        &__subtitle
            &:before
                left: 50%
                margin-left: -30px
    .reply__wrap
        .row
            .col-6
                justify-content: center
                flex: 0 0 100%
                max-width: 100%
    .reply__img
        margin: 0 auto
        