.vertical_list
    padding-left: 0
    font-size: 20px
    padding-top: 5px
    line-height: 1.9
    position: relative
    .vertical_list__item
        text-decoration: underline
        position: relative
        padding-left: 17px
        font-size: 16px
        display: block
        flex: 1
        padding-top: 5px
        white-space: wrap
        a
            display: inline
            text-decoration: underline
    &.dashed
        &>.vertical_list__item:before
            content: ""
            position: absolute
            border-bottom: 1px solid $color-orange
            height: 1px
            margin-top: 14px
            margin-left: -55px
            width: 40px
        &>.vertical_list__item
        .vertical_list__item
            text-decoration: none
            a
                text-decoration: none