@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	//


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.md-pt-40
		padding-top: 40px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	//		

/* Small Devices, Tablets */
@media only screen and (max-width : 600px)
	//

@media only screen and (max-width : 480px)
	section
		padding: 20px 0
	.title
		font-size: 34px
	.subtitle
		font-size: 25px

	.header
		&_logo, &_phone
			width: auto
			span
				float: none
		.row
			display: flex
			flex-direction: column

	.section
		&_front
			.title
				font-size: 40px
			.subtitle
				font-size: 30px
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	//

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	//


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.navbar-expand-lg 
		flex-flow: row nowrap
		justify-content: space-between



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.container
		padding-left: 0
		padding-right: 0
	.cards .col-lg-4:nth-child(1)
		padding-right: 45px
		padding-left: 15px
	.cards .col-lg-4:nth-child(2)
		padding-left: 30px
		padding-right: 30px
	.cards .col-lg-4:nth-child(3)
		padding-left: 45px
		padding-right: 15px 

@media print
	.button, button
		display: none
	.section_front 
		padding-top: 0