$header-color: #FEFEFE
$button-color: #999
$color-gray: #B3B3B3
$color-orange: #ffcc00


$font-light: 'OpenSans-Light', sans-serif;
$font-medium: 'OpenSans-Regular', sans-serif;
$font-italic: 'OpenSans-Italic', Arial, sans-serif;
