@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
*::-webkit-input-placeholder
	color: #666
	opacity: 1
*:-moz-placeholder
	color: #666
	opacity: 1
*::-moz-placeholder
	color: #666
	opacity: 1
*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

a
	display: inline-block
a, a:hover
	text-decoration: none
	color: #424242
ul, li
	list-style: none
ul
	margin-bottom: 0

body
	height: 100%
	&.modal-open
		overflow: hidden
.title
	text-align: center
	line-height: 1.15em
	font-family: $font-light
	font-weight: normal
	padding-top: 8px
	padding-bottom: 50px
	letter-spacing: .2px
	text-align: left
	font-size: 50px
	&.padding-narrow
		padding-bottom: 30px


.subtitle
	line-height: 1.5
	padding: 0
	font-size: 26px
	padding-bottom: 40px	
	letter-spacing: .5px
	font-size: 30px
	letter-spacing: .1px
	text-align: left
	font-family: $font-medium
	&.font-small
		font-size: 20px
		padding-bottom: 15px
	&.padding-narrow
		padding-bottom: 30px
p
	font-size: 15px
	letter-spacing: .5px
	margin: 0
	line-height: 1.6
	padding-bottom: 0.5em

body
	letter-spacing: .4px
	font-family: $font-medium
	font-size: 16px
	min-width: 320px
	position: relative
	overflow-x: hidden
	opacity: 1
	color: #000
	line-height: 1.2

html 
	height: 100%


.page-wrapper
	transition: none
	display: flex
	height: 100%
	min-height: 80vh
	
.section
	&_contacts, &_front, &_map
		position: relative
	&.gray
		margin-top: 40px
		padding-top: 50px
		padding-bottom: 50px
		background-color: #333333
		.title, .subtitle
			color: #ffffff
		color: #AFAFAF	
	&_employees
		padding-top: 50px
	&_news
		padding-top: 50px
		padding-bottom: 50px
		.subtitle
			font-size: 50px	
	&_reply_text
		padding: 60px 0 60px 0
		position: relative
		&__description
			font-size: 17px
			color: #ffffff
			font-family: $font-italic
			padding-top: 10px
	&_docs
		padding-bottom: 90px
	&_spec_requirements
		margin-top: -30px
		padding-bottom: 50px
	&_costs
		padding-bottom: 55px
	&_compfond_list
		background-color: #F2F2F2
		padding-top: 45px
		padding-bottom: 30px
	&_section_employees
		background-color: #333333
.placeholder__img_right
	margin: 20px
	display: block
	width: 100%
	height: 350px
	background-color: #999



.section_map
	display: block
	margin-top: 50px
#map
	height: 100%
	width: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 0


.text_right
	text-align: right

.bg-gray
	background: #F5F5F5
	

@import "components/header"
@import "components/footer"
@import "components/button"
@import "components/card"
@import "components/horizontal_card"
@import "components/news_item"
@import "components/breadcrumb"
@import "components/horizontal_list"
@import "components/vertical_list"
@import "components/doc_list"
@import "components/reply"
@import "components/employee"
@import "components/contacts"
@import "components/carousel"
@import "components/pagination"
@import "components/article"
@import "components/costs"
@import "components/dash_bottom"
@import "components/info_card"
@import "components/about_company"
@import "components/mission"
@import "components/popup"
@import "media"